*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body{
    font-family:sans-serif;
    background-color: #E5E5E5;
}
.orange{
    color:orange;
}
.header .w-50{
    width:45%;
}
.header{
    display:flex;
    margin-bottom: 30px;
}
.skil-area{
  padding-left: 89px;
  padding-top: 330px;
}
h6{
    color: #828282;
    margin-top: 20px;
    line-height: 15px;
}
.skip{
    font-size:40px;
}
.order-btn{
    margin-top: 22px;
    display: inline-block;
    padding: 15px 25px;
    background: linear-gradient(45deg, #fb984c, #fe492e);
    color: #fff;
    border-radius: 50px;
}
.about-me{
    background-image: url("../images/shapes/7.png");
    background-repeat: repeat;
    display: flex;
    margin-bottom: 50px;
}
.about-image{
    height: 600px;
    width: 50%;
}
.about-image img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 338px;
    height: 536px;
    margin-top: 63px;
}
.about-contain-area{
    width: 50%;
}
.about-contain{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.about-contain-area h2{
    color: #707070;
    font-size: 40px;
    margin-bottom: 32px;
}
.about-contain-area p{
  line-height: 25px;
  margin-bottom: 25px;
  color: #18191F;
  font-size: 18px;
  width: 90%;
}
.contact-btn{
    padding: 25px 55px;
}
.My-recipies {
    width: 536px;
    margin: 0 auto;
}
.My-recipies h2{
  text-align: center;
  color: #676767;
  font-size: 39px;
  letter-spacing: 2px;
} 
.My-recipies p{
    margin-top: 30px;
    text-align: center;
    color: #676767;
    font-size: 18px;
    line-height: 25px;
    margin-bottom: 50px;
}
.recipies-imagees img{
    width: 610px;
    padding: 35px;
}

.recipies{
    margin: 0 auto;
    display: inline-flex;
    position:relative;
    left:50%;
    transform: translate(-50%);
}
.recipies-content{
    padding:0 35px 35px 35px;
}
.recipies-content h3{
    color: #18191F;
    font-size: 28px;
}
.recipies-content p{
    color: #18191F;
    font-size: 18px;
    line-height: 28px;
  margin-top: 10px;
}
.recipies-tittle-left{
    box-shadow: 3px 5px 12px #f9dddd61;
    margin-right:10px;
    width: 610px;
    background-color: #fff;
    border-radius: 40px;
}
.recipies-tittle-left img, .recipies-tittle-right img{
    height: 308px;
}
.recipies-tittle-right{
    box-shadow: 3px 5px 12px #f9dddd61;
    margin-left:10px;
    width: 610px;
    background-color: #fff;
    border-radius: 40px;
}
.numbar{
    box-shadow: 3px 5px 12px #f9dddd61;
    background: #FFF;
    margin: 0 auto;
    margin-top: 50px;
    padding: 50px 0;
    border-radius: 25px;
    width: 90%;
}
.number-counter{
    display: flex;
}
.number-counter h2{
    font-size: 48px;
    color: #18191F;
}
.n700, .n2, .n100{
    width: 33.33%;
    position: relative;
    left:50%;
    transform: translate(-125%);
}
footer{
    color: #fff;
    text-align: center;
    padding: 73px;
    background: #0B0D17;
    margin-top: 50px;
}
footer h3{
    color: #828282;
    font-size: 30px;
    margin-bottom:10px;
}